.header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.header .inner-logo {
  max-height: 50px;
  max-width: 100%;
}
.header .inner-menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.header .inner-menu > ul > li {
  margin-left: 20px;
}
.footer {
  background: #000;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
}

.tour-detail .inner-infomation {
  margin-top: 30px;
  border: 1px solid #b5b5b5;
  padding: 10px;
  border-radius: 5px;
}

.tour-detail .inner-infomation .inner-label {
  font-size: 18px;
  font-weight: 700;
  color: #c12026;
  border-bottom: 1px solid #b5b5b5;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.tour-detail .inner-infomation .inner-text {
  white-space: pre-line;
}

.tour-detail .inner-infomation .inner-text img {
  max-width: 100%;
  height: auto;
}

/* End tour-detail */
//SwiperJS
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .imagesMain {
      height: 80%;
      width: 100%;
    }

    .imagesThumb {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .imagesThumb .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }

    .imagesThumb .swiper-slide-thumb-active {
      opacity: 1;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    /* Alert Add Cart success */
[alert-add-cart-success] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[alert-add-cart-success].alert-hidden {
  animation-name: alert-hidden;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[alert-add-cart-success] [close-alert] {
  background: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
}